<div class="container">
  <app-input text="add server name: ">
    <input
      [(ngModel)]="inputNameValue"
      type="text"
      placeholder="add server..."
    />
  </app-input>
  <app-input text="add server content: ">
    <input
      [(ngModel)]="inputContentValue"
      type="text"
      placeholder="add content..."
    />
  </app-input>

  <button [disabled]="inputNameValue.length === 0" (click)="addServerHandle()">
    add server
  </button>
  <hr />
  <div class="servers-output">
    <app-output
      *ngFor="let server of servers; let i = index"
      [server]="server"
      [index]="i"
    />
  </div>
</div>
